<div class="card">
    <div class="card-header">
        Header
    </div>
    <div class="card-body">
       <table class="table">
           <thead>
               <tr>
                   <th>Nombre</th>
                   <th>Precio</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>Camiseta polo roja</td>
                   <td>$46.000.00</td>
                   <td>
                       <a routerLink="/edit-product/1">Editar</a> | Borrar</td>
               </tr>
           </tbody>
       </table>
       
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>