<h2>Crear Producto</h2>
<hr />
<div class="row">
    <div class="col">
        <form (ngSubmit)="create(productForm)" #productForm="ngForm">
            <!--field name-product-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" ngModel name="producto" class="form-control" placeholder="Nombre del producto" required minlength="3" />

                </div>
            </div>

            <!--field unit-value-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" ngModel name="unitValue" class="form-control" placeholder="Precio del producto" required min="0" />

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>